.popup__button-close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: -40px;
  top: -40px;
  transition: .4s;
}

.popup__button-close:hover {
  opacity: .6;
}

@media screen and (max-width: 767px){
  .popup__button-close {
    height: 20px;
    right: 0;
    top: -36px;
  }
}